# **Задание 1**



Дан словарь, содержащий имена и возраст людей, напишите программу выводящую возраст человека по имени

Дано:

```
{"Alice": 25, "Bob": 30, "Charlie": 35}
```

Вввод:


```
Alice
```

Вывод:


```
Alice 25
```

In [ ]:
dict_name = {"Alice": 25, "Bob": 30, "Charlie": 35}
name = input()
print(name, dict_name[name])

Alice
Alice 25

# **Задание 2**



Дан список, состоящий из целых чисел, необходимо написать функцию считающую сумму всех положительных четных чисел списка

Ввод:

```
1, 2, 3, 4, 5, 6, 7, 8, 9
```

Вывод:


```
20
```

***Запрещено:***

*   Использование готовых функций для суммирования чисел

In [ ]:
def suma(x):
  b=0
  for i in x:
    if i%2==0:
      b+=i
  return b
a = list(map(int,input().split()))
print(suma(a))

1 2 3 4 5 6 7 8 9
20

# **Задание 3**

Дан словарь, содержащий название фрукта и его цвет, выведите список всех желтых фруктов


Дано:

```
fruits_and_colors = {
    "apple": "red",
    "banana": "yellow",
    "mango": "yellow",
    "orange": "orange",
    "lemon": "yellow",
    "grape": "purple"
}
```

Вывод:


```
Yellow fruits:
banana
lemon
mango
```

In [ ]:
fruits_and_colors = {
    "apple": "red",
    "banana": "yellow",
    "mango": "yellow",
    "orange": "orange",
    "lemon": "yellow",
    "grape": "purple"
}

Yellow_fruits = []
for k,v in fruits_and_colors.items():
  if v == 'yellow':
    Yellow_fruits.append(k)
print('Yellow fruits:',Yellow_fruits)

Yellow fruits: ['banana', 'mango', 'lemon']

# **Задание 4**



Дан словарь, необходимо написать функцию меняющую ключ и значение местами

Дано:


```
{"a": 1, "b": 2, "c": 3}
```

Вывод:

```
{1: 'a', 2: 'b', 3: 'c'}
```

In [ ]:
def revers_dict(x):
  for k,v in x.items():
    del x[k]
    x[v]=k
  return(x)

dict_d = {"a": 1, "b": 2, "c": 3}
print(revers_dict(dict_d))

{1: 'a', 2: 'b', 3: 'c'}

# **Задание 5**

Дан список слов, неограниченной длинны, сформируйте словарь, где в качестве ключа будет слово, а в качестве значения количество слов

**Критерии**


*   Словарь необходимо отсортировать по убыванию количества элементов в списке.
*   Подсчет элементов должен быть реализован в отдельной функции
*   Сортировка пары `ключ:значение` должна быть реализована также в виде отдельной функции




Дано:
```
['apple','banana','orange','apple','apple','banana']
```


Вывод:
```
{'apple':3, 'banana': 2, 'orange': 1}
```

***Запрещено:***

*   Использование готовых функций для сортировки
*   Использование готовых функций для подсчета элементов

In [ ]:
# Подсказка: сортировку словаря можно сделать через две функции (нахождение максимального эллемента и основной функции сортировки)

words = ['apple','banana','orange','apple','apple','banana']


def count_words(words):
  words_dict = {}
  for i in words:
    count=0
    for j in words:
      if i == j:
        count+=1
      words_dict[i]=count
  return(words_dict)


print(count_words(words))

{'apple': 3, 'banana': 2, 'orange': 1}

# **Задание 6**

Дан словарь, содержащий информацию о людях, необходимо:



*   Вывести всех людей старше 30 лет
*   Вывести список городов и количество людей из словаря проживающих в них
*   Вывести список профессий и список людей для каждой профессии

**Критерии**

Каждый из пунктов необходимо реализовать в виде функции

In [ ]:
people_info = {
    "Alice": {"age": 25, "city": "New York", "occupation": "Engineer"},
    "Bob": {"age": 30, "city": "Los Angeles", "occupation": "Designer"},
    "Charlie": {"age": 35, "city": "Chicago", "occupation": "Teacher"},
    "Diana": {"age": 28, "city": "Miami", "occupation": "Doctor"},
    "Ethan": {"age": 40, "city": "Seattle", "occupation": "Chef"},
    "Frank": {"age": 32, "city": "Atlanta", "occupation": "Lawyer"},
    "Gabriella": {"age": 29, "city": "San Francisco", "occupation": "Software Engineer"},
    "Harrison": {"age": 38, "city": "Denver", "occupation": "Architect"},
    "Isabella": {"age": 26, "city": "Washington D.C.", "occupation": "Journalist"},
    "Julian": {"age": 42, "city": "Miami", "occupation": "Musician"},
    "Kate": {"age": 31, "city": "Philadelphia", "occupation": "Nurse"},
    "Lucas": {"age": 36, "city": "Nashville", "occupation": "Businessman"},
    "Mia": {"age": 27, "city": "Atlanta", "occupation": "Artist"},
    "Natalie": {"age": 39, "city": "Portland", "occupation": "Writer"},
    "Oliver": {"age": 44, "city": "Minneapolis", "occupation": "Professor"},
    "Penelope": {"age": 33, "city": "San Diego", "occupation": "Marketing Manager"},
    "Quincy": {"age": 41, "city": "Nashville", "occupation": "Singer"},
    "Rachel": {"age": 34, "city": "Cleveland", "occupation": "Teacher"},
    "Sophia": {"age": 29, "city": "Nashville", "occupation": "Engineer"},
    "Tessa": {"age": 37, "city": "Miami", "occupation": "Lawyer"}
}

def old_30(x):
  name_old_30 = []
  for name in x.keys():
    if x[str(name)]['age']>30:
      name_old_30.append(name)
  return name_old_30


def city_count(x):
  cities = []
  city_count_people = {}
  for name in x.keys():
    cities.append(x[str(name)]['city'])
    for i in cities:
      count=0
      for j in cities:
        if i == j:
          count+=1
        city_count_people[str(i)]=count
  return city_count_people


def occupation_people(x):
  occupation = []
  occupation_list_people = {}
  for name in x.keys():
    occupation.append(x[str(name)]['occupation'])
    for i in occupation:
      people=[]
      for j in occupation:
        if i == j:
          people.append(name)
        occupation_list_people[str(x[str(name)]['occupation'])]=set(people)
  return occupation_list_people

print(occupation_people(people_info))

{'Engineer': {'Sophia'}, 'Designer': {'Bob'}, 'Teacher': {'Rachel'}, 'Doctor': {'Diana'}, 'Chef': {'Ethan'}, 'Lawyer': {'Tessa'}, 'Software Engineer': {'Gabriella'}, 'Architect': {'Harrison'}, 'Journalist': {'Isabella'}, 'Musician': {'Julian'}, 'Nurse': {'Kate'}, 'Businessman': {'Lucas'}, 'Artist': {'Mia'}, 'Writer': {'Natalie'}, 'Professor': {'Oliver'}, 'Marketing Manager': {'Penelope'}, 'Singer': {'Quincy'}}